# =====================
# Node.js
# =====================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =====================
# TypeScript
# =====================
dist/
*.tsbuildinfo

# =====================
# Playwright
# =====================
test-results/
playwright-report/
blob-report/
.trace/
playwright.config.js
playwright.config.js.map

# =====================
# Environment files
# =====================
.env
.env.local
.env.*.local

# =====================
# OS / Editor
# =====================
.DS_Store
.idea/
.vscode/
*.swp

# =====================
# Temporary / Generated
# =====================
coverage/
*.log

playwright/test-results/
playwright/.auth/
playwright/**/*.png
playwright/**/*.zip

plugins/*