services:
  grafana:
    image: grafana/grafana:12.3
    container_name: grafana-test
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS=sandbox-test-panel,sandbox-test-datasource
    ports:
      - "3000:3000"
    volumes:
      - ./conf/custom.ini:/etc/grafana/grafana.ini:ro
      - ./src/test-plugins:/var/lib/grafana/plugins:ro
      - ./conf/datasources.yml:/etc/grafana/provisioning/datasources/datasources.yaml:ro
    restart: unless-stopped
    # deploy:  
    #   resources:
    #     limits:
    #       cpus: '6.0'
    #       memory: 12G
    #     reservations:
    #       cpus: '4.0'
    #       memory: 8G
