services:
  grafana:
    image: grafana/grafana:12.3
    container_name: grafana-test
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
    ports:
      - "3000:3000"
    volumes:
      - ./conf/custom.ini:/etc/grafana/grafana.ini:ro
      - ./conf/provisioning:/etc/grafana/provisioning:ro
    restart: unless-stopped
